<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>Controller.logServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signservlet</servlet-name>
        <servlet-class>Controller.signservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>Controller.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>Controller.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>Controller.Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Controller.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/logServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signservlet</servlet-name>
        <url-pattern>/signservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
